.footer {
  background: var(--nc-bg-2);
  border-top: 1px solid var(--nc-bg-3);
  padding: 2rem 1.5rem;
  margin: 2rem calc(0px - (50vw - 50%)) 0;
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 2rem 0;
}

.copy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footerLink {
  margin: 0 0.5vw;
  text-decoration: none;
  color: inherit;
}

.footerLink:hover {
  border-bottom: none;
  color: var(--nc-ac-1);
}
