.header {
  display: flex;
}

@media (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: column;
  }
}

.name {
  margin-bottom: 0;
}

.headerContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-left: 2.5rem;
  line-height: 2rem;
}

@media (max-width: 600px) {
  .headerContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-left: 0;
    line-height: 2rem;
    justify-content: center;
    align-items: center;
  }
}

.imageWrapper {
  margin-top: 1.1rem;
  position: relative;
  max-width: 100%;
  height: 100%;
}

.headerImage {
  padding: 0;
  margin: 1rem 0;
  align-self: center;
}

.borderCircle {
  border-radius: 9999px;
}
