.toggle {
  width: 4.5em;
  color: var(--nc-lk-1);
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.icon {
  padding-right: 0.25em;
}
