---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Contact - corscheid.dev"
  heading="Contact"
  description="Contact form - corscheid.dev - portfolio site of Corey Scheideman, web developer"
>
  <section class="flex flex-col items-center p-4">
    <form action="https://api.web3forms.com/submit" method="POST" class="flex w-full flex-col gap-4 sm:w-96">
      <input type="hidden" name="access_key" value="becafe83-fe28-4c9c-8c55-46d69d0228a1" />
      <label class="flex flex-col gap-2">
        name
        <input type="text" name="name" class="rounded-md bg-neutral-800 p-2" required />
      </label>
      <label class="flex flex-col gap-2">
        email
        <input type="email" name="email" class="rounded-md bg-neutral-800 p-2" required />
      </label>
      <label class="flex flex-col gap-2">
        message
        <textarea name="message" rows={5} class="rounded-md bg-neutral-800 p-2" required minlength="5"></textarea>
      </label>
      <input type="checkbox" name="botcheck" class="hidden" style="display: none;" />
      <button type="submit" class="rounded bg-blue-400 p-2 text-gray-800">submit</button>
    </form>
  </section>
</Layout>
