---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Contact - corscheid.dev"
  heading="Contact"
  description="Contact form - corscheid.dev - portfolio site of Corey Scheideman, web developer"
>
  <section class="flex flex-col items-center">
    <form method="POST" class="flex w-96 flex-col gap-4">
      <label class="flex flex-col gap-2">
        name
        <input type="text" name="name" class="rounded-md bg-neutral-800 p-2" />
      </label>

      <label class="flex flex-col gap-2">
        email
        <input type="email" name="email" class="rounded-md bg-neutral-800 p-2" />
      </label>

      <label class="flex flex-col gap-2">
        message
        <textarea name="message" rows={5} class="rounded-md bg-neutral-800 p-2"></textarea>
      </label>

      <button type="submit" class="rounded bg-blue-400 p-2 text-gray-800">submit</button>
    </form>
  </section>
</Layout>
