---
import { Image } from "astro:assets";
import Angular from "../assets/angular.svg";
import AstroLogo from "../assets/astro.svg";
import Corscheid from "../assets/corscheid.png";
import Docker from "../assets/docker.svg";
import GitHub from "../assets/github-mark.svg";
import GitLab from "../assets/gitlab.svg";
import Go from "../assets/go.svg";
import Java from "../assets/java.svg";
import NextJs from "../assets/nextjs.svg";
import NodeJS from "../assets/node-js.svg";
import Podman from "../assets/podman.svg";
import Python from "../assets/python.svg";
import Qwik from "../assets/qwik.svg";
import React from "../assets/react.svg";
import SpringBoot from "../assets/spring-boot.svg";
import Svelte from "../assets/svelte.svg";
import Tailwind from "../assets/tailwind.svg";
import SkillListItem from "../components/SkillListItem.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home - corscheid.dev" description="corscheid.dev - portfolio site of Corey Scheideman, web developer">
  <article>
    <section class="flex flex-col items-center gap-12 bg-gray-600 p-4 py-16 lg:flex-row lg:gap-8 lg:px-64">
      <div>
        <Image
          src={Corscheid}
          alt="corscheid (Corey Scheideman)"
          width={200}
          height={200}
          loading="eager"
          priority
          class="rounded-full shadow-lg"
        />
      </div>
      <div>
        <h2 class="mb-4 p-0 font-mono text-xl">
          Hi, I'm <span class="text-blue-400">Corey</span>, a <span class="text-green-400"
            >Full Stack Web Developer</span
          >.
        </h2>
        <p class="mt-4">I've been developing software for fun since 2012 and professionally since 2021.</p>
        <p class="mt-4">Here is some tech that I have experience with and enjoy using:</p>
      </div>
    </section>

    <section class="bg-gray-700 p-4 lg:px-64">
      <h2 class="mb-4 p-0 font-mono text-xl">Frontend</h2>

      <ul class="m-0 flex flex-wrap gap-4">
        <SkillListItem href="https://react.dev">
          <React aria-label="React" width={48} height={48} slot="icon" />
          React
        </SkillListItem>
        <SkillListItem href="https://reactnative.dev">
          <React aria-label="React" width={48} height={48} slot="icon" />
          React Native
        </SkillListItem>
        <SkillListItem href="https://angular.dev">
          <Angular arial-label="Angular" width={48} height={48} slot="icon" />
          Angular
        </SkillListItem>
        <SkillListItem href="https://svelte.dev">
          <Svelte aria-label="Svelte" width={48} height={48} slot="icon" />
          Svelte
        </SkillListItem>
        <SkillListItem href="https://qwik.dev">
          <Qwik aria-label="Qwik" width={48} height={48} slot="icon" />
          Qwik
        </SkillListItem>
        <SkillListItem href="https://tailwindcss.com">
          <Tailwind aria-label="Tailwind CSS" width={48} height={48} slot="icon" />
          Tailwind CSS
        </SkillListItem>
      </ul>
    </section>

    <section class="bg-gray-600 p-4 lg:px-64">
      <h2 class="mb-4 p-0 font-mono text-xl">Backend</h2>

      <ul class="m-0 flex flex-wrap gap-4">
        <SkillListItem href="https://go.dev">
          <Go aria-label="React" width={48} height={48} slot="icon" />
          Go
        </SkillListItem>
        <SkillListItem href="https://dev.java">
          <Java aria-label="Java" width={48} height={48} slot="icon" />
          Java
        </SkillListItem>
        <SkillListItem href="https://www.python.org">
          <Python aria-label="Python" width={48} height={48} slot="icon" />
          Python
        </SkillListItem>
        <SkillListItem href="https://spring.io/projects/spring-boot">
          <SpringBoot aria-label="Spring Boot" width={48} height={48} slot="icon" />
          Spring Boot
        </SkillListItem>
        <SkillListItem href="https://nodejs.org/en">
          <NodeJS aria-label="Node.js" width={48} height={48} slot="icon" />
          Node.js
        </SkillListItem>
        <SkillListItem href="https://nextjs.org">
          <NextJs aria-label="Next.js" width={48} height={48} slot="icon" />
          Next.js
        </SkillListItem>
        <SkillListItem href="https://svelte.dev/docs/kit/introduction">
          <Svelte aria-label="Svelte" width={48} height={48} slot="icon" />
          SvelteKit
        </SkillListItem>
        <SkillListItem href="https://qwik.dev/docs/qwikcity">
          <Qwik aria-label="Qwik" width={48} height={48} slot="icon" />
          Qwik City
        </SkillListItem>
        <SkillListItem href="https://astro.build">
          <AstroLogo aria-label="Astro" width={48} height={48} slot="icon" />
          Astro
        </SkillListItem>
      </ul>
    </section>

    <section class="bg-gray-700 p-4 lg:px-64">
      <h2 class="mb-4 p-0 font-mono text-xl">Containerization & CI/CD</h2>

      <ul class="m-0 flex flex-wrap gap-4">
        <SkillListItem href="https://www.docker.com">
          <Docker aria-label="Docker" width={48} height={48} slot="icon" />
          Docker
        </SkillListItem>
        <SkillListItem href="https://podman.io">
          <Podman aria-label="Podman" width={48} height={48} slot="icon" />
          Podman
        </SkillListItem>
        <SkillListItem href="https://docs.github.com/en/actions">
          <GitHub aria-label="GitHub" width={48} height={48} slot="icon" />
          GitHub
        </SkillListItem>
        <SkillListItem href="https://docs.gitlab.com/ci">
          <GitLab aria-label="GitLab" width={48} height={48} slot="icon" />
          GitLab
        </SkillListItem>
      </ul>
    </section>
  </article>
</Layout>
