---
import { Image } from "astro:assets";
import Angular from "../assets/angular.svg";
import AstroLogo from "../assets/astro.svg";
import Corscheid from "../assets/corscheid.png";
import Docker from "../assets/docker.svg";
import GitHub from "../assets/github-mark.svg";
import GitLab from "../assets/gitlab.svg";
import Go from "../assets/go.svg";
import Java from "../assets/java.svg";
import NextJs from "../assets/nextjs.svg";
import NodeJS from "../assets/node-js.svg";
import Podman from "../assets/podman.svg";
import Python from "../assets/python.svg";
import Qwik from "../assets/qwik.svg";
import React from "../assets/react.svg";
import SpringBoot from "../assets/spring-boot.svg";
import Svelte from "../assets/svelte.svg";
import Tailwind from "../assets/tailwind.svg";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home - corscheid.dev" description="corscheid.dev - portfolio site of Corey Scheideman, web developer">
  <article>
    <section class="flex flex-col items-center gap-12 bg-gray-600 p-4 py-16 lg:flex-row lg:gap-8 lg:px-64">
      <div>
        <Image
          src={Corscheid}
          alt="corscheid (Corey Scheideman)"
          width={200}
          height={200}
          loading="eager"
          priority
          class="rounded-full"
        />
      </div>
      <div>
        <h2 class="mb-4 p-0 font-mono text-xl">
          Hi, I'm <span class="text-blue-400">Corey</span>, a <span class="text-green-400"
            >Full Stack Web Developer</span
          >.
        </h2>
        <p class="mt-4">I've been developing software for fun since 2012 and professionally since 2021.</p>
        <p class="mt-4">Here is some tech that I have experience with and enjoy using:</p>
      </div>
    </section>

    <section class="bg-gray-700 p-4 lg:px-64">
      <h2 class="mb-4 p-0 font-mono text-xl">Frontend</h2>

      <ul class="m-0 flex flex-wrap gap-4">
        <li>
          <a
            class="flex h-44 w-24 flex-col items-center gap-4 rounded-2xl bg-gray-400 p-8 hover:border hover:border-green-400 hover:bg-gray-600"
            href="https://react.dev"><React aria-label="React" width={48} height={48} /> React</a
          >
        </li>
        <li>
          <a
            class="flex h-44 w-24 flex-col items-center gap-4 rounded-2xl bg-gray-400 p-8 hover:border hover:border-green-400 hover:bg-gray-600"
            href="https://reactnative.dev"
          >
            <React aria-label="React" width={48} height={48} /> React Native
          </a>
        </li>
        <li>
          <a
            class="flex h-44 w-24 flex-col items-center gap-4 rounded-2xl bg-gray-400 p-8 hover:border hover:border-green-400 hover:bg-gray-600"
            href="https://angular.dev"
          >
            <Angular arial-label="Angular" width={48} height={48} /> Angular
          </a>
        </li>
        <li>
          <a
            class="flex h-44 w-24 flex-col items-center gap-4 rounded-2xl bg-gray-400 p-8 hover:border hover:border-green-400 hover:bg-gray-600"
            href="https://svelte.dev"
          >
            <Svelte aria-label="Svelte" width={48} height={48} /> Svelte
          </a>
        </li>
        <li>
          <a
            class="flex h-44 w-24 flex-col items-center gap-4 rounded-2xl bg-gray-400 p-8 hover:border hover:border-green-400 hover:bg-gray-600"
            href="https://qwik.dev"
          >
            <Qwik aria-label="Qwik" width={48} height={48} /> Qwik
          </a>
        </li>
        <li>
          <a
            class="flex h-44 w-24 flex-col items-center gap-4 rounded-2xl bg-gray-400 p-8 hover:border hover:border-green-400 hover:bg-gray-600"
            href="https://tailwindcss.com"
          >
            <Tailwind aria-label="Tailwind CSS" width={48} height={48} /> Tailwind CSS
          </a>
        </li>
      </ul>
    </section>

    <section class="bg-gray-600 p-4 lg:px-64">
      <h2 class="mb-4 p-0 font-mono text-xl">Backend</h2>

      <ul class="m-0 flex flex-wrap gap-4">
        <li>
          <a
            class="flex h-44 w-24 flex-col items-center gap-4 rounded-2xl bg-gray-400 p-8 hover:border hover:border-green-400 hover:bg-gray-600"
            href="https://go.dev"
          >
            <Go aria-label="React" width={48} height={48} /> Go
          </a>
        </li>
        <li>
          <a
            class="flex h-44 w-24 flex-col items-center gap-4 rounded-2xl bg-gray-400 p-8 hover:border hover:border-green-400 hover:bg-gray-600"
            href="https://dev.java"
          >
            <Java aria-label="Java" width={48} height={48} /> Java
          </a>
        </li>
        <li>
          <a
            class="flex h-44 w-24 flex-col items-center gap-4 rounded-2xl bg-gray-400 p-8 hover:border hover:border-green-400 hover:bg-gray-600"
            href="https://www.python.org"
          >
            <Python aria-label="Python" width={48} height={48} /> Python
          </a>
        </li>
        <li>
          <a
            class="flex h-44 w-24 flex-col items-center gap-4 rounded-2xl bg-gray-400 p-8 hover:border hover:border-green-400 hover:bg-gray-600"
            href="https://spring.io/projects/spring-boot"
          >
            <SpringBoot aria-label="Spring Boot" width={48} height={48} /> Spring Boot
          </a>
        </li>
        <li>
          <a
            class="flex h-44 w-24 flex-col items-center gap-4 rounded-2xl bg-gray-400 p-8 hover:border hover:border-green-400 hover:bg-gray-600"
            href="https://nodejs.org/en"
          >
            <NodeJS aria-label="Node.js" width={48} height={48} /> Node.js
          </a>
        </li>
        <li>
          <a
            class="flex h-44 w-24 flex-col items-center gap-4 rounded-2xl bg-gray-400 p-8 hover:border hover:border-green-400 hover:bg-gray-600"
            href="https://nextjs.org"
          >
            <NextJs aria-label="Next.js" width={48} height={48} /> Next.js
          </a>
        </li>
        <li>
          <a
            class="flex h-44 w-24 flex-col items-center gap-4 rounded-2xl bg-gray-400 p-8 hover:border hover:border-green-400 hover:bg-gray-600"
            href="https://svelte.dev/docs/kit/introduction"
          >
            <Svelte aria-label="Svelte" width={48} height={48} /> SvelteKit
          </a>
        </li>
        <li>
          <a
            class="flex h-44 w-24 flex-col items-center gap-4 rounded-2xl bg-gray-400 p-8 hover:border hover:border-green-400 hover:bg-gray-600"
            href="https://qwik.dev/docs/qwikcity"
          >
            <Qwik aria-label="Qwik" width={48} height={48} /> Qwik City
          </a>
        </li>
        <li>
          <a
            class="flex h-44 w-24 flex-col items-center gap-4 rounded-2xl bg-gray-400 p-8 hover:border hover:border-green-400 hover:bg-gray-600"
            href="https://astro.build"
          >
            <AstroLogo aria-label="Astro" width={48} height={48} /> Astro
          </a>
        </li>
      </ul>
    </section>

    <section class="bg-gray-700 p-4 lg:px-64">
      <h2 class="mb-4 p-0 font-mono text-xl">Containerization & CI/CD</h2>

      <ul class="m-0 flex flex-wrap gap-4">
        <li>
          <a
            class="flex h-44 w-24 flex-col items-center gap-4 rounded-2xl bg-gray-400 p-8 hover:border hover:border-green-400 hover:bg-gray-600"
            href="https://www.docker.com/"
          >
            <Docker aria-label="Docker" width={48} height={48} /> Docker
          </a>
        </li>
        <li>
          <a
            class="flex h-44 w-24 flex-col items-center gap-4 rounded-2xl bg-gray-400 p-8 hover:border hover:border-green-400 hover:bg-gray-600"
            href="https://podman.io/"
          >
            <Podman aria-label="Podman" width={48} height={48} /> Podman
          </a>
        </li>
        <li>
          <a
            class="flex h-44 w-24 flex-col items-center gap-4 rounded-2xl bg-gray-400 p-8 hover:border hover:border-green-400 hover:bg-gray-600"
            href="https://docs.github.com/en/actions"
          >
            <GitHub aria-label="GitHub" width={48} height={48} /> GitHub
          </a>
        </li>
        <li>
          <a
            class="flex h-44 w-24 flex-col items-center gap-4 rounded-2xl bg-gray-400 p-8 hover:border hover:border-green-400 hover:bg-gray-600"
            href="https://docs.github.com/en/actions"
          >
            <GitLab aria-label="GitLab" width={48} height={48} /> GitLab
          </a>
        </li>
      </ul>
    </section>
  </article>
</Layout>
