---
import { Image } from "astro:assets";
import Angular from "../assets/angular.svg";
import AstroLogo from "../assets/astro.svg";
import Corscheid from "../assets/corscheid.jpg";
import Docker from "../assets/docker.svg";
import GitHub from "../assets/github-mark.svg";
import GitLab from "../assets/gitlab.svg";
import Go from "../assets/go.svg";
import Java from "../assets/java.svg";
import NextJs from "../assets/nextjs.svg";
import NodeJS from "../assets/node-js.svg";
import Podman from "../assets/podman.svg";
import Qwik from "../assets/qwik.svg";
import React from "../assets/react.svg";
import SpringBoot from "../assets/spring-boot.svg";
import Svelte from "../assets/svelte.svg";
import Tailwind from "../assets/tailwind.svg";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <article>
    <section class="flex flex-col items-center gap-12 bg-[hsl(0,0%,20%)] p-4 py-16 md:flex-row md:gap-4 md:px-64">
      <div>
        <Image src={Corscheid} alt="profile picture" width={200} height={200} loading="eager" class="rounded-full" />
      </div>
      <div>
        <h2 class="m-0 p-0 font-mono text-xl">
          Hi, I'm <span class="text-[hsl(197,93%,53%)]">Corey</span>, a <span class="text-[hsl(120,100%,45%)]"
            >Full Stack Web Developer</span
          >.
        </h2>
        <p class="mt-4">I've been developing software for fun since 2012 and professionally since 2021.</p>
        <p>Here is some tech that I have experience with and enjoy using:</p>
      </div>
    </section>

    <section class="bg-[hsl(0,0%,15%)] p-4 lg:px-64">
      <h2 class="m-0 p-0 font-mono text-xl">frontend</h2>

      <ul class="m-0 flex flex-wrap gap-4 p-4">
        <li class="flex w-24 flex-col items-center gap-4 rounded-2xl bg-[hsl(0,0%,30%)] p-8">
          <React aria-label="React" width={48} height={48} /> React
        </li>
        <li class="flex w-24 flex-col items-center gap-4 rounded-2xl bg-[hsl(0,0%,30%)] p-8">
          <Angular arial-label="Angular" width={48} height={48} /> Angular
        </li>
        <li class="flex w-24 flex-col items-center gap-4 rounded-2xl bg-[hsl(0,0%,30%)] p-8">
          <Svelte aria-label="Svelte" width={48} height={48} /> Svelte
        </li>
        <li class="flex w-24 flex-col items-center gap-4 rounded-2xl bg-[hsl(0,0%,30%)] p-8">
          <Qwik aria-label="Qwik" width={48} height={48} /> Qwik
        </li>
        <li class="flex w-24 flex-col items-center gap-4 rounded-2xl bg-[hsl(0,0%,30%)] p-8">
          <AstroLogo aria-label="Astro" width={48} height={48} /> Astro
        </li>
        <li class="flex w-24 flex-col items-center gap-4 rounded-2xl bg-[hsl(0,0%,30%)] p-8">
          <Tailwind aria-label="Tailwind CSS" width={48} height={48} /> Tailwind CSS
        </li>
      </ul>
    </section>

    <section class="bg-[hsl(0,0%,20%)] p-4 lg:px-64">
      <h2 class="m-0 p-0 font-mono text-xl">backend</h2>

      <ul class="m-0 flex flex-wrap gap-4 p-4">
        <li class="flex w-24 flex-col items-center gap-4 rounded-2xl bg-[hsl(0,0%,30%)] p-8">
          <Go aria-label="React" width={48} height={48} /> Go
        </li>
        <li class="flex w-24 flex-col items-center gap-4 rounded-2xl bg-[hsl(0,0%,30%)] p-8">
          <Java aria-label="Java" width={48} height={48} /> Java
        </li>
        <li class="flex w-24 flex-col items-center gap-4 rounded-2xl bg-[hsl(0,0%,30%)] p-8">
          <SpringBoot aria-label="Spring Boot" width={48} height={48} /> Spring Boot
        </li>
        <li class="flex w-24 flex-col items-center gap-4 rounded-2xl bg-[hsl(0,0%,30%)] p-8">
          <NodeJS aria-label="Node.js" width={48} height={48} /> Node.js
        </li>
        <li class="flex w-24 flex-col items-center gap-4 rounded-2xl bg-[hsl(0,0%,30%)] p-8">
          <NextJs aria-label="Next.js" width={48} height={48} /> Next.js
        </li>
        <li class="flex w-24 flex-col items-center gap-4 rounded-2xl bg-[hsl(0,0%,30%)] p-8">
          <Svelte aria-label="Svelte" width={48} height={48} /> SvelteKit
        </li>
        <li class="flex w-24 flex-col items-center gap-4 rounded-2xl bg-[hsl(0,0%,30%)] p-8">
          <Qwik aria-label="Qwik" width={48} height={48} /> Qwik City
        </li>
        <li class="flex w-24 flex-col items-center gap-4 rounded-2xl bg-[hsl(0,0%,30%)] p-8">
          <AstroLogo aria-label="Astro" width={48} height={48} /> Astro
        </li>
      </ul>
    </section>

    <section class="bg-[hsl(0,0%,15%)] p-4 lg:px-64">
      <h2 class="m-0 p-0 font-mono text-xl">Containerization & CI/CD</h2>

      <ul class="m-0 flex flex-wrap gap-4 p-4">
        <li class="flex w-24 flex-col items-center gap-4 rounded-2xl bg-[hsl(0,0%,30%)] p-8">
          <Docker aria-label="Docker" width={48} height={48} /> Docker
        </li>
        <li class="flex w-24 flex-col items-center gap-4 rounded-2xl bg-[hsl(0,0%,30%)] p-8">
          <Podman aria-label="Podman" width={48} height={48} /> Podman
        </li>
        <li class="flex w-24 flex-col items-center gap-4 rounded-2xl bg-[hsl(0,0%,30%)] p-8">
          <GitHub aria-label="GitHub" width={48} height={48} /> GitHub
        </li>
        <li class="flex w-24 flex-col items-center gap-4 rounded-2xl bg-[hsl(0,0%,30%)] p-8">
          <GitLab aria-label="GitLab" width={48} height={48} /> GitLab
        </li>
      </ul>
    </section>
  </article>
</Layout>
