---
import { Image } from "astro:assets";
import Angular from "../assets/angular.svg";
import AstroLogo from "../assets/astro.svg";
import Corscheid from "../assets/corscheid.png";
import Docker from "../assets/docker.svg";
import GitHub from "../assets/github-mark.svg";
import GitLab from "../assets/gitlab.svg";
import Go from "../assets/go.svg";
import Java from "../assets/java.svg";
import NextJs from "../assets/nextjs.svg";
import NodeJS from "../assets/node-js.svg";
import Podman from "../assets/podman.svg";
import Python from "../assets/python.svg";
import Qwik from "../assets/qwik.svg";
import React from "../assets/react.svg";
import SpringBoot from "../assets/spring-boot.svg";
import Svelte from "../assets/svelte.svg";
import Tailwind from "../assets/tailwind.svg";
import SkillList from "../components/SkillList.astro";
import Layout from "../layouts/Layout.astro";

const skillsFrontend = [
  { url: "https://react.dev", Icon: React, label: "React" },
  { url: "https://reactnative.dev", Icon: React, label: "React Native" },
  { url: "https://angular.dev", Icon: Angular, label: "Angular" },
  { url: "https://svelte.dev", Icon: Svelte, label: "Svelte" },
  { url: "https://qwik.dev", Icon: Qwik, label: "Qwik" },
  { url: "https://tailwindcss.com", Icon: Tailwind, label: "Tailwind CSS" },
];

const skillsBackend = [
  { url: "https://go.dev", Icon: Go, label: "Go" },
  { url: "https://dev.java", Icon: Java, label: "Java" },
  { url: "https://python.org", Icon: Python, label: "Python" },
  { url: "https://spring.io/projects/spring-boot", Icon: SpringBoot, label: "Spring Boot" },
  { url: "https://nodejs.org/en", Icon: NodeJS, label: "Node.js" },
  { url: "https://nextjs.org", Icon: NextJs, label: "Next.js" },
  { url: "https://svelte.dev", Icon: Svelte, label: "SvelteKit" },
  { url: "https://qwik.dev", Icon: Qwik, label: "Qwik City" },
  { url: "https://astro.build", Icon: AstroLogo, label: "Astro" },
];

const skillsContainerCICD = [
  { url: "https://www.docker.com", Icon: Docker, label: "Docker" },
  { url: "https://podman.io", Icon: Podman, label: "Podman" },
  { url: "https://docs.github.com/en/actions", Icon: GitHub, label: "GitHub" },
  { url: "https://docs.gitlab.com/ci", Icon: GitLab, label: "GitLab" },
];
---

<Layout title="Home - corscheid.dev" description="corscheid.dev - portfolio site of Corey Scheideman, web developer">
  <article>
    <section class="flex flex-col items-center gap-12 bg-gray-600 p-4 py-16 lg:flex-row lg:gap-8 lg:px-64">
      <div>
        <Image
          src={Corscheid}
          alt="corscheid (Corey Scheideman)"
          width={200}
          height={200}
          loading="eager"
          priority
          class="rounded-full shadow-lg"
        />
      </div>
      <div>
        <h2 class="mb-4 p-0 font-mono text-xl">
          Hi, I'm <span class="text-blue-400">Corey</span>, a <span class="text-green-400"
            >Full Stack Web Developer</span
          >.
        </h2>
        <p class="mt-4">I've been developing software for fun since 2012 and professionally since 2021.</p>
        <p class="mt-4">Here is some tech that I have experience with and enjoy using:</p>
      </div>
    </section>

    <section class="flex flex-col gap-4 bg-gray-700 p-4 lg:px-64 lg:py-32">
      <h2 class="mb-4 p-0 font-mono text-xl">Frontend</h2>
      <SkillList items={skillsFrontend} />
    </section>

    <section class="flex flex-col gap-4 bg-gray-600 p-4 lg:px-64 lg:py-32">
      <h2 class="mb-4 p-0 font-mono text-xl">Backend</h2>
      <SkillList items={skillsBackend} />
    </section>

    <section class="flex flex-col gap-4 bg-gray-700 p-4 lg:px-64 lg:py-32">
      <h2 class="mb-4 p-0 font-mono text-xl">Containerization & CI/CD</h2>
      <SkillList items={skillsContainerCICD} />
    </section>
  </article>
</Layout>
