<footer class="bg-[hsl(0,0%,10%)] p-8 text-[hsl(0,0%,95%)]">
  <ul class="flex justify-center gap-8">
    <li>
      <a
        class="text-md hover:text-[hsl(197,93%,53%)]"
        href="https://github.com/corscheid">GitHub</a
      >
    </li>
    <li>
      <a
        class="text-md hover:text-[hsl(197,93%,53%)]"
        href="https://linkedin.com/in/corscheid">LinkedIn</a
      >
    </li>
    <li>
      <a
        class="text-md hover:text-[hsl(197,93%,53%)]"
        href="https://twitter.com/corscheid">Twitter</a
      >
    </li>
    <li>
      <a
        class="text-md hover:text-[hsl(197,93%,53%)]"
        href="https://dev.to/corscheid">DEV.to</a
      >
    </li>
  </ul>
</footer>
