<footer class="bg-gray-800 p-8 text-gray-100">
  <ul class="flex justify-center gap-8">
    <li>
      <a class="text-md hover:text-blue-400" href="https://github.com/corscheid">GitHub</a>
    </li>
    <li>
      <a class="text-md hover:text-blue-400" href="https://linkedin.com/in/corscheid">LinkedIn</a>
    </li>
    <li>
      <a class="text-md hover:text-blue-400" href="https://twitter.com/corscheid">Twitter</a>
    </li>
    <li>
      <a class="text-md hover:text-blue-400" href="https://dev.to/corscheid">DEV.to</a>
    </li>
  </ul>
</footer>
