<a href="/" class="font-mono text-[hsl(0,0%,95%)] hover:text-[hsl(120,100%,45%)]">
  <span class="text-[hsl(197,93%,53%)]">&lcub;</span>corscheid.dev<span class="text-[hsl(197,93%,53%)]">&rcub;</span>
</a>
