<span class="font-mono"
  ><a href="/" class="text-[hsl(0,0%,95%)] hover:text-[hsl(197,93%,53%)]"
    ><span class="text-sm text-[hsl(120,100%,45%)]"
      >&lt;&gt;<span class="text-[hsl(197,93%,53%)]">&lcub;</span></span
    >corscheid.dev<span class="text-sm text-[hsl(120,100%,45%)]"
      ><span class="text-[hsl(197,93%,53%)]">&rcub;</span>&lt;&sol;&gt;</span
    ></a
  ></span
>
