---
import Logo from "./Logo.astro";
---

<nav class="flex flex-col items-center gap-4 bg-gray-800 p-4 md:flex-row md:justify-between">
  <Logo />
  <div class="flex gap-4">
    <a href="/projects" class="text-blue-400">Projects</a>
    <a href="/posts" class="text-blue-400">Posts</a>
    <a href="/contact" class="text-blue-400">Contact</a>
  </div>
</nav>
