---
import Logo from "./Logo.astro";
---

<nav class="flex justify-between gap-4 bg-[hsl(0,0%,10%)] p-4">
  <Logo />
  <div class="flex gap-4">
    <a href="/projects" class="text-[hsl(197,93%,53%)]">Projects</a>
    <a href="/posts" class="text-[hsl(197,93%,53%)]">Posts</a>
    <a href="/contact" class="text-[hsl(197,93%,53%)]">Contact</a>
  </div>
</nav>
