---
interface Props {
  href: string;
}

const { href }: Props = Astro.props;
---

<li>
  <a
    class="flex h-44 w-24 flex-col items-center gap-4 rounded-2xl bg-gray-400 p-8 hover:border hover:border-green-400 hover:bg-gray-600"
    href={href}><slot name="icon" /> <slot /></a
  >
</li>
