---
import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

interface Props {
  title: string;
  description: string;
  heading?: string;
}

const { title, description, heading }: Props = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="flex h-screen flex-col">
    <Nav />
    <main class="flex-1 bg-gray-500 text-gray-300">
      {heading && <h1 class="pt-4 text-center text-2xl">{heading}</h1>}
      <slot />
    </main>
    <Footer />
  </body>
</html>
