.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.name {
  margin-bottom: 0;
}

.headerContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-left: 2.5rem;
  line-height: 2rem;
}

.headerImage {
  width: 6rem;
  height: 6rem;
  padding: 0;
  margin: 0;
  align-self: center;
}

.borderCircle {
  border-radius: 9999px;
}
